@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.montserrat-custom {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif; /* Capitalized "Montserrat" */
}

.bgcolor {
  background-color: #38313a;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Ensure the SVG stays at the bottom-right corner */
}

.border-gradient {
  border: 2px solid transparent; /* Set default border */
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); /* Define gradient */
  border-radius: 2rem; /* Apply rounded corners */
}

.primary-color-100 {
  background-color: #c3b8d8;
  color: #38313a;
}

.gradient {
  background: linear-gradient(90deg, #6b4b9f 0%, #e60b8e 50%);
}

.gradient-input-wrapper {
  position: relative;
  overflow: hidden;
}

.gradient-input-wrapper input {
  border: none;
  background-color: transparent;
  padding: 10px; /* adjust as needed */
  border-radius: 5px; /* adjust as needed */
}

.gradient-input-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, #f0a500, #f7d000);
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  border-radius: 5px; /* adjust as needed */
}
